@model MbmStore.Models.MusicCD
@using MbmStore.Infrastructure

<article class="album">
    <section class="album-info">
        <ul>
            <li><b>Album:</b> @Model.Title</li>
            <li><b>Artist:</b> @Model.Artist</li>
            <li><b>Price:</b> @Model.Price</li>
            <li><b>Publisher:</b> @Model.Publisher</li>
        </ul>
        <img src="~/Images/@Model.ImageFileName" />
        @await Html.PartialAsync("AddToCartButton"), (Product) Model)
    </section>
    <section class="album-tracks">
        <b>Tracks:</b>
        <ol>
            @foreach (var track in Model.Tracks)
            {
                <li>@track.Title - <i>@track.Composer</i> (@String.Format("{0:00}:{1:00}", @track.Length.Minutes, @track.Length.Seconds))</li>
            }
        </ol>
        @* Why dafuq doesn't it default to leading zeros for seconds??? *@
        <b>Total playing time: @Model.TotalTime</b>
    </section>
</article>
<hr />