@model MbmStore.Models.Book
@using MbmStore.Infrastructure

<article class="card">
    <section class="card-body d-flex flex-column">
        <h5>@Model.Title </h5>
        <p><b>Author:</b> @Model.Author </p>
        <p><b>Publisher:</b> @Model.Publisher</p>
        <p><b>ISBN:</b> @Model.ISBN</p>
        <p><b>Price:</b> @Model.Price.ToString("c") </p>
        <img src="~/Images/@Model.ImageFileName" class="img-fluid mx-auto mb-2" />
        @await Html.PartialAsync("AddToCartButton", (Product)Model)
    </section>
</article>
