@model MbmStore.Models.ViewModels.SessionCart
@using MbmStore.Infrastructure

<article class="ml-auto mr-2 order-md-2">
    <a class="nav-link text-white d-flex align-items-center" asp-action="Index" asp-controller="Cart" asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
        @if (Model.Lines.Count > 0)
        {
            @*<b class="mr-1 d-none d-md-block">Your cart: </b> @Model.Lines.Count @:x <span class="d-none d-md-block mx-1">@(Model.Lines.Count == 1 ? "item " : " items ")</span> @Model.ComputeTotalValue().ToString("c")*@
            @Model.ComputeTotalValue().ToString("c")
        }
        <div class="btn btn-sm btn-info ml-1">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge badge-dark">@Model.Lines.Count</span>
        </div>
    </a>
</article>
