@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@using MbmStore.Models.ViewModels
@model CartIndexViewModel

<h1>Your Cart</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-left">@line.Product.Title</td>
                <td class="text-right">@line.Product.Price.ToString("c")</td>
                <td class="text-right">@((line.Quantity * line.Product.Price).ToString("c"))</td>
                <td class="d-flex">
                    <form class="mr-2" asp-action="AddToCart" method="post">
                        <input type="hidden" name="ProductID" value="@line.Product.ProductId" />
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <div class="input-group" style="max-width: 100px;">
                            <input class="form-control form-control-sm" type="number" value="@line.Quantity" name="quantity" />
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-sm btn-warning"><i class="far fa-edit"></i></button>
                            </div>
                        </div>
                    </form>
                    <form asp-action="RemoveFromCart" method="post">
                        <input type="hidden" name="ProductID" value="@line.Product.ProductId" />
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right"><b>@Model.Cart.ComputeTotalValue().ToString("c")</b></td>
        </tr>
    </tfoot>
</table>
<section class="text-center">
    <a class="btn btn-primary" href="@(String.IsNullOrEmpty(Model.ReturnUrl) ? Url.ActionLink("Index", "Catalogue") : Model.ReturnUrl)">Continue shopping</a>
</section>
