
@{
    ViewData["Title"] = "Customer Index";
}
<style>
    p {
        margin-bottom: 0;
        font-weight: bold;
    }
</style>

<h1>Customer Index</h1>
@foreach (var customer in ViewBag.Customers)
{
    <p>@customer.FirstName @customer.LastName - @customer.Age år (@customer.BirthDate.ToShortDateString())</p>
    <address>
        @customer.Address
        <br />
        @customer.ZipCode - @customer.City
    </address>
    <p>Phone numbers:</p>
    <ul>
        @foreach (var phoneNumber in customer.PhoneNumbers)
        {
            <li>
                <a href="tel:@phoneNumber.Number">@phoneNumber.Number</a>
            </li>
        }
    </ul>
    <hr />

}
